@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
	 margin-bottom: 90px;
}
 .header__inner {
	 text-align: center;
	 padding: 30px 10px;
	 display: flex;
	 justify-content: space-between;
}
 .header__menu {
	 margin-left: 60px;
	 margin-right: 266px;
}
 .header__menu-list {
	 display: flex;
	 flex-direction: row;
	 gap: 40px;
	 padding: 10px 0 !important;
}
 .header__menu-list-link {
	 color: #313436;
	 font-size: 14px;
	 font-style: normal;
	 font-weight: 500;
	 line-height: 22px;
	 text-align: end;
}
 .header__menu-list-link:hover {
	 color: #63beff;
	 transition: all 0.3s;
}
 .header__btn {
	 font-size: 14px;
	 font-weight: 600;
	 color: white;
	 padding: 15px 40px;
	 text-align: center;
	 background-color: #63beff;
	 width: 129px;
	 height: 52px;
	 border-radius: 15px;
	 cursor: pointer;
	 border: none;
	 margin-left: 60px;
}
 .header__lang {
	 display: flex;
	 gap: 10px;
}
 .header__lang-select {
	 border: none;
	 cursor: pointer;
}
 .header__lang-img {
	 width: 24px;
	 height: 24px;
	 text-align: center;
}
 .lang {
	 border: none;
}
 .lang-ua {
	 background-image: url(images/icons/lang-ua.png);
	 height: 24px;
	 font-size: 24px;
}
 .top {
	 margin-bottom: 160px;
}
 .top__title {
	 color: #313436;
	 font-size: 74px;
	 font-weight: 700;
	 line-height: 54px;
	 margin-bottom: 120px;
	 padding: 0 10px;
}
 .top__title-center {
	 display: flex;
	 justify-content: center;
	 gap: 12px;
	 text-align: center;
	 padding-bottom: 36px;
}
 .top__title-left {
	 text-align: left;
	 display: flex;
	 justify-content: start;
	 padding-bottom: 36px;
}
 .top__title-right {
	 display: flex;
	 justify-content: end;
	 text-align: right;
}
 .top__title-blue {
	 color: #63beff;
}
 .assistant {
	 margin-bottom: 100px;
}
 .assistant__item {
	 display: flex;
	 justify-content: space-between;
	 flex-direction: column;
}
}
.assistant__item-content{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 12px;
}
.assistant__title {
    color: #313436;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    line-height: 68px;
    padding-bottom: 32px;
}
.assistant__subtitle {
    color: #4E6678;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 100px;
    max-width: 764px;
    width: 100%;
    margin: 0 auto;
}
.assistant__wrapper {
    // display: grid;
    // grid-gap: 20px;
    display: flex;
    gap: 20px;
    height: 1015px;
    width: 1380px;
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(3, 1fr);
    background-color:  rgba(19, 34, 26, 0.05);
}
.assistant__left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.assistant__right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.assistant__bottom{
    display: flex;
    gap: 20px;
}
.assistant__top{
    display: flex;
    gap: 20px;
}

.assistant__item {
    padding: 20px;
    background-color: #fff;
}
// .assistant__item:nth-child(1){
//        grid-area: 1/1/3/3;
//        width: 680px;
//     height: 600px;
// }
// .assistant__item:nth-child(2){
//     grid-area: 1/3/2/4;  
//     width: 330px;
// height: 395px;
// }
// .assistant__item:nth-child(3){
//     grid-area: 1/4/2/5;  
//     width: 330px;
// height: 395px;
// }
// .assistant__item:nth-child(4){
//    grid-area: 3/1/4/2; 

//    width: 330px;
// height: 395px;
// }
// .assistant__item:nth-child(5){
//     width: 330px;
// height: 395px;

//     grid-area: 3/2/4/3; 
// }
// .assistant__item:nth-child(6){
//    grid-area:  2/3/4/5;
//    width: 680px;
//     height: 600px;
// }
.assistant__item-box{
    padding-top: 44px;
    padding-right: 42px;
}
.assistant__item--min{
    width: 330px;
    height: 395px;
}
.assistant__item--big{
    width: 680px;
    height: 600px;
}
.assistant__item-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.assistant__item-title {
    color: #313436;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}
.assistant__item-text {
    color: #4E6678;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}



.introduction {
    margin-bottom: 160px;
    padding-right: 10px;
}
.introduction__inner {
    display: flex;
    gap: 83px
}
.introduction__video {
    background-image: url('../images/video-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-width: 757px;
    width: 100%;
    height: 425px;
    // padding: 192px 349px;
    position: relative;
}
.video_video-icon{
    position: absolute;
    content: "";
    top: 45%;
    left: 45%;
  
}
.introduction__content{
    padding-top: 75px;
}
.introduction__title {
    color: #313436;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 32px;
}
.introduction__text {
    color: #4E6678;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    min-width: 490px;
    width: 100%;
    height: 196px;
}



.lang{
    padding-top: 12px;
    width: 85px;
    height: 50px;
    margin: auto 0;
}
.select-events{
    height: 30px;
border: none;
cursor: pointer;
width: 100px;
}
option{
// padding-left: 20px;
// padding-top: 3px;
// padding-bottom: 3px;
}

option:hover{
background-color: #eee;
}

.icon-ua{
background: url('../images/icons/lang-ua.png') no-repeat;
// background-size: 24px;
min-height: 25px;
padding-left: 37px;
background-position: 0 1px;
}
.icon-eng
{
background: url('/../images/icons/lang-eng.png') no-repeat;
min-height: 25px;
padding-left: 37px;
background-position: 0 1px;
}

// select.icon-ua,
// select.icon-eng
// {
// padding-top: 2px;
// padding-bottom: 3px;
// padding-left: 16px;
// background-position: 0 1px;
// }

@import 'media';
